<form action='/productos', method='POST'>
    <input type='text' placeholder='Name' name="title" required/>
    <input type='number' placeholder='price' name="price"  required>
    <input type='text' placeholder='url imagen del producto' name="thumbnail"  required>
    <button type="submit" value="enviar"> CARGAR</button>
</form>